streamlit
pillow
pydub
SpeechRecognition
transformers
torch
sentence-transformers
langdetect
deep-translator
PyMuPDF
pdfplumber
matplotlib
reportlab
python-docx
gTTS
google-generativeai
faiss-cpu
spacy
PyPDF2
pytesseract
